body {
    background-color: #C0BD92;
    font-family: sans-serif;
}

h1 {
    color: blue;
}


/* NAv */

nav ul {
    background-color: #3e8e41;
    padding: 0.4em 0;
}

nav li {
    display: inline;
}

nav li a {
    color: white;
    font-weight: bold;
    padding-left: 0.5em;
    text-decoration: none;
    vertical-align: middle;
}

nav li a:hover {
    color: #F7FFCC;
}


/* DD */

dd, dt {
    margin-left: 0;
}

dt {
    margin-top: 0.5em;
}

dd {
    font-weight: bold;
}

/* Naast elkaar */
.naastMekaar {
    padding-left: 0;
}

.naastMekaar li {
    display: inline;
}

label span, .fout {
    background-color: red;
    color:white;
    font-weight: bold;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.boodschap {
    background-color: #4CAF50;
    color:white;
    font-weight: bold;
    padding: 0.5em;
}

label span {
    margin-left: 0.5em;
}

label {
    cursor: pointer;
}

input, button {
    display: block;
    font-size: 1.1em;
    margin-bottom: 1em;
    margin-top: 0.2em;
}

input:focus, textarea:focus, select:focus {
    background-color: #FFFFD6
}

input[type='checkbox'] {
    display: inline;
}

form button {
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}